/* Style the lines by removing the fill and applying a stroke */
#line-chart .chart-container {
  position: relative;
  height: 25rem;
}

.line-hot {
    fill: none;
    stroke: #FF7675;
    stroke-width: 3;
}

.axisLabel{
  fill: white !important;
}


div.tooltip {
  color: rgb(5, 5, 5);
  background: #fff;
  padding: 10pt;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  position: absolute;
}

.line-cold {
  fill: none;
  stroke: #6095F9;
  stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    stroke: #fff;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}