.App {
  text-align: center;
  background-color: #141b29;
  min-height: 100vh;
}

.header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #505050;
}


.bg{
  background-color: #141b29;
}
